/* Estilo para el fondo */
#fondo {
  background-image: url(./fondo.png);
  background-repeat: no-repeat;     /*  hace que la imagen de fondo no se repita */
  background-position: center center; /* centro horizontal y vertical*/
  background-attachment: fixed; /*hace que la imagen de fondo sea fija */
  background-size: cover; /*hace que la imagen cubra todo el fondo*/
}
/* Estilo para párrafo */
.texto-principal {
  margin-top: 10px;
  color: white;

/* Reset de estilos */
* {
  margin: 0;  /* elimino margenes*/
  padding: 0; /*elimino rellnos */
  box-sizing: border-box; /*establesco molde como border-box*/
}
}

/* Estilo para la barra de navegación */
.barra-navegacion {
  width: 100%; /*ancho*/
  height: 50px; /*altura */
  background: #24303c; /*color*/
  position: fixed; /* la fije en la parte superiot */
}

/* Estilo para el contenedor de la imagen */
.contenedor-imagen {
  margin-top: 50px; /* Genera un espacio superior de 50px */
  display: flex; /* aplico Flexbox al contenedor de la imagen */
  justify-content: center; /* centra horizontalmente */
  align-items: center; /* centra verticalmente */
}

/* Estilo para la imagen dentro del contenedor */
.contenedor-imagen img {
  max-width: 100%; /* Imagen adaptativa */
  box-shadow: 7px 13px 37px #000; /* Agrega una sombra para que se vea estético */
}

/* Estilo para el formulario de registro */
.formulario-registro {
  margin-top: 50px; /* Genera un espacio superior de 50px */
  width: 80%; /* Ancho del 80% de la ventana del navegador */
  max-width: 400px; /* Ancho máximo de 400px para mantener la legibilidad */
  background: #24303c;
  padding: 30px; /* Relleno interior */
  margin: 25% auto; /* Margen superior e inferior del 25% y centrado horizontalmente */
  border-radius: 4px;
  font-family: 'calibri';
  color: white; /* Color del texto */
  box-shadow: 7px 13px 37px #000;
}

/* Estilo para los controles del formulario */
.controls {
  width: 100%; /* Ancho */
  background: #24303c;  /* color de fondo */
  padding: 10px; /* Relleno interior */
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

/* Estilo para los botones del formulario */
.formulario-registro .boton {
  top: 50%;
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.referencias {
  width: 100%;
  display: flex; /* aplico Flexbox al contenedor de la imagen */
  justify-content: center; /* centra horizontalmente */
  align-items: center; /* centra verticalmente */
}

.referencias img {
  max-width: 90%; /* Imagen adaptativa */
  height: auto; /* la altura se ajustará automáticamente */
  box-shadow: 7px 13px 37px #000; /* Agrega una sombra para que se vea esthetic */
}