/* Estilo para el fondo */
#fondo {
  background-image: url(./fondo.png);
  background-repeat: no-repeat;     /*  hace que la imagen de fondo no se repita */
  background-position: center center; /* centro horizontal y vertical*/
  background-attachment: fixed; /*hace que la imagen de fondo sea fija */
  background-size: cover; /*hace que la imagen cubra todo el fondo*/
}

/* Estilo para párrafo */
.texto-principal {
  margin-top: 10px;
  color: white;

/* Reset de estilos */
* {
  margin: 0;  /* elimino margenes*/
  padding: 0; /*elimino rellnos */
  box-sizing: border-box; /*establesco molde como border-box*/
}

}
/* Estilo para la barra de navegación */
.barra-navegacion {
  width: 100%; /*ancho*/
  height: 50px; /*altura */
  background: #24303c; /*color*/
  position: fixed; /* la fije en la parte superiot */
}
/* Estilo para la imagen */
.contenedor-imagen {
  display: flex; /* aplico Flexbox al contenedor de la imagen */
}

.contenedor-imagen img {
  max-width: 100%; /* Imagen adaptativa */
  height: auto; /* la altura se ajustara automáticamente */
  box-shadow: 7px 13px 37px #000; /* Agrega una sombra para que se vea esthetic */
}

/* Estilo para los servicios */
.servicios {
  color: white; /*color*/
  font-size: 27px; /*tamaño de la fuente*/
  margin-top: 20%;  /* Margen superior del 20% */
}

/* Estilo para el formulario de registro */
.formulario-registro {
  
  width: 400px; /* Ancho */
  background: #24303c;
  padding: 30px;   /* Relleno interior */
  margin: auto; /* Centra horizontalmente */
  margin-top: 25%; /* Margen superior del 25% cuando hay un margen top arriba se suman */
  border-radius: 4px;
  font-family: 'calibri';
  color: white; /* color del texto */
  box-shadow: 7px 13px 37px #000;
}

/* Estilo para los controles del formulario */
.controls {
  width: 100%; /* Ancho */
  background: #24303c;  /* color de fondo */
  padding: 10px; /* Relleno interior */
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

/* Estilo para los botones del formulario */
.formulario-registro .boton {
  top: 50%;
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}