/* Estilo para el fondo */
#fondo {
  background-image: url(./fondo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo para el párrafo */
.texto-principal {
  margin-top: 10px;
  color: white;
  font-size: 27px;
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 25;
}

/* Estilo para la barra de navegación */
.barra-navegacion {
  width: 100%;
  height: 50px;
  background: #24303c;
  position: fixed;
  top: 0;
  left: 0;
}
/* Estilo para la imagen */
.contenedor-imagen {
  display: flex;
}

.contenedor-imagen img {
  margin-top: 1px;
  max-width: 800px;
  height: auto;
  box-shadow: 7px 13px 37px #000;
}

/* Estilo para los servicios */
.servicios {
  color: white;
  font-size: 27px;
  margin-top: 26%;
}

/* Estilo para el formulario de registro */
.formulario-registro {
  
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 35%;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

/* Estilo para los controles del formulario */
.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

/* Estilo para los botones del formulario */
.formulario-registro .boton {
  top: 50%;
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}